{% extends 'base.html' %}

{% block title %}Edit Password{% endblock %}

{% block content %}

<form method="post">
{{ form.hidden_tag() }}
{% for field in form if field.widget.input_type != 'hidden' %}
{% if field.type == "SubmitField" %}
    {{ field(class='btn btn-warning') }}
{% else %}
    <div class="form-group">
      {{ field.label }} {{ field(class='form-control') }}
    </div>
{% endif %}
{% endfor %}
</form>
<br>
<form method="post">
{{ form2.hidden_tag() }}
{% for field in form2 if field.widget.input_type != 'hidden' %}
{% if field.type == "SubmitField" %}
    {{ field(class='btn btn-danger') }}
{% else %}
    <div class="form-group">
      {{ field.label }} {{ field(class='form-control') }}
    </div>
{% endif %}
{% endfor %}
</form>



{% endblock %}
