{% extends 'base.html' %}

{% block content %}

{% if passwords  %}
<div class="list-group">
  {% for password in passwords %}
    <div onclick="clipboard('{{password.id}}')" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ password.website }}</h5>
      <div>
        <small><a href="{{ url_for('edit_password', password_id=password.id) }}">view</a></small>
      </div>
    </div>
    <p class="mb-1">{{ password.user }}</p>
    <input hidden type="text" id="{{password.id}}" value="{{password.passphrase}}">
  </div>
  {% endfor %}
</div>
{% else %}
<p>You have not saved any passwords yet.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
function clipboard(data_id) {
    var copyText = document.getElementById(data_id);
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    navigator.clipboard
      .writeText(copyText.value)
//      .then(() => {
//        alert("successfully copied");
//      })
//      .catch(() => {
//        alert("something went wrong");
//      });
}
</script>
{% endblock %}
